h1,
h2,
h3,
h4,
p,
li {
  font-family: sans serif;
}

h1 {
  font-size: 46px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  color: rgb(1, 71, 1);

  line-height: 1.0;
}
li {
  font-size: 20px;
}
/*footer p {
  font-size: 14px;
}
article header p {
  font-style: italic;
}

/* article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-: 18px;
}
#copyright {
  font-size: 12px;
}
#Hopefully {
  font-family: serif;
  !--font-style: italic;
  font-size: 24px;
}
